.App {
  text-align: center;
}

/* .annotation-icon:hover {
  color: #4A89F3 !important;
} */

.annotation-inner-container {
  position: relative;
}

.annotation-index {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 30%;
}

.dashboard-container {
  display: flex;
}

.image-container {
  position: relative;
}

.annotation-container {
  position: absolute;
  z-index: 1;
}

.annotation-icon-container {
  position: relative;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
